<div class="products">
    <h3>Добавить продукт</h3>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <td>Название</td>
            <td>Цена</td>
            <td>Действия</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <input ng-model="newProduct.name" type="text" class="form-control" placeholder="Введите название">
            </td>
            <td>
                <input ng-model="newProduct.price" type="number" class="form-control" placeholder="Введите цену">
            </td>
            <td>
                <button class="btn btn-success" ng-click="saveProduct(newProduct)">Добавить</button>
            </td>
        </tr>
        </tbody>
    </table>

    <h5>Список товаров <em class="text-right">(Показано продуктов: {{viewProducts}} из {{totalProducts}})</em></h5>

    <!--    страница {{page + 1}}/{{totalPages}}-->
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <td>id</td>
            <td>Название</td>
            <td>Цена</td>
            <td>Действия</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in ProductsList">
            <td>{{p.id}}</td>
            <td>
                <span ng-if="!p.edit">{{p.name}}</span>
                <input class="form-control" ng-model="p.name" ng-if="p.edit">
            </td>
            <td>
                <span ng-if="!p.edit">{{p.price}}</span>
                <input type="number" class="form-control" ng-model="p.price" ng-if="p.edit">
            </td>
            <td>
                <button class="btn btn-warning" type="button" ng-if="!p.edit" ng-click="p.edit = true">Изменить</button>
                <button class="btn btn-success" type="button" ng-if="p.edit" ng-click="updateProduct(p)">Сохранить</button>
                <button class="btn btn-danger" type="button" ng-if="!p.edit" ng-click="deleteProduct(p)">Удалить</button>
                <button class="btn btn-warning" type="button" ng-if="p.edit" ng-click="fillProductTable()">Отменить</button>
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" ng-class="{disabled: page <= 1}">
                <a class="page-link" href="#" ng-click="paginate(page - 1)">Назад</a>
            </li>
            <li class="page-item" ng-repeat="i in pageRange()" ng-class="{disabled: page === i}">
                <a class="page-link" href="#" ng-click="paginate(i)" [aria-disabled]="true">{{i}}</a>
            </li>
            <li class="page-item" ng-class="{disabled: page >= totalPages}">
                <a class="page-link" href="#" ng-click="paginate(page + 1)">Вперед</a>
            </li>
        </ul>
    </nav>
</div>